@using Catalog.DAL.Entities
@{
    ViewData["Title"] = "Categories";
}
@model List<Category>;
<h1>@ViewData["Title"]</h1>


<p>Category list.</p>
<ul>
    @foreach (var category in Model) 
    {
      <li class="d-flex">
          <div><img src="~/Categories/Image/@category.CategoryId" class="img-thumbnail" /></div>
          <div class="ml-4">
              <p>@category.CategoryName - "@category.Description"</p>
              <a asp-controller = "Categories" asp-action = "UploadImage" 
               asp-route-id = "@category.CategoryId">Upload/Change Image</a>
          </div>
      </li>
    }
</ul>

@section Footer {
    <footer class="border-top footer text-muted">
            <div class="container">
                <p class="text-info">Notice! It's not possible to edit categories.</p>
            </div>
    </footer>
}
